@import "../../styles/globals.scss";

.dropdown-label {
  color: $tertiary-color;
}

.item-logout {
  color: $danger-color;

  &:hover {
    color: $danger-color;
  }
}

.dropdown-item {
  &:hover {
    cursor: pointer;
  }
}
