@font-face {
  font-family: "Futura Std Book";
  font-style: normal;
  font-weight: normal;
  src: local("Futura Std Book"),
    url("../../public/Font/FuturaStdBook.woff") format("woff");
}

@font-face {
  font-family: "Futura Std Light";
  font-style: normal;
  font-weight: normal;
  src: local("Futura Std Light"),
    url("../../public/Font/FuturaStdLight.woff") format("woff");
}

@font-face {
  font-family: "Futura Std Medium";
  font-style: normal;
  font-weight: normal;
  src: local("Futura Std Medium"),
    url("../../public/Font/FuturaStdMedium.woff") format("woff");
}

@font-face {
  font-family: "Futura Std Heavy";
  font-style: normal;
  font-weight: normal;
  src: local("Futura Std Heavy"),
    url("../../public/Font/FuturaStdHeavy.woff") format("woff");
}

@font-face {
  font-family: "Futura Std Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Futura Std Bold"),
    url("../../public/Font/FuturaStdBold.woff") format("woff");
}

@font-face {
  font-family: "Futura Std Extra Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Futura Std Extra Bold"),
    url("../../public/Font/FuturaStdExtraBold.woff") format("woff");
}
