@import "../../styles/globals.scss";

.search {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;

  &:focus {
    outline: solid $tertiary-color 2px;
  }
}

.searchbar {
  padding: 4px;
  border: none;
  background-color: transparent;
  color: $text-color;
  font-size: 15px;
  font-family: "Geist-Regular", sans-serif;
  width: 100%;

  &:focus {
    outline: none;
  }
}
