@import "../../styles/globals.scss";

.header {
  width: 100%;
  background-color: $bg-color;
  color: $text-color;
  padding: 1rem 2rem 1rem;

  .header-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .profile-container {
      display: flex;
      align-items: center;
    }
  }
}
